<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/nav.ejs') -%>
<div id="form">
    <form action="/sendMessage" method="post">
        <h2>Write a message</h2>
        <div>
            <h3>Name</h3>
        <input type="text" name="Name" id="userName"  placeholder="Name" style="margin-bottom:15px ;">
       
    </div>
        <textarea type="text" name='Message' rows=9 
              placeholder="write Message"  style="width: 30%;"    ></textarea>
            
        <br>
        <button type="submit"  >Post a message</button>
    
    </form>

</div>

  

</body>
</html>

